<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta name="description" content="<%= yield :description %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
  <div class="navbar fixed-top navbar-expand-lg">
    <div class="container">
      <div class="collapse navbar-collapse">
        <%= link_to "Pelmels", root_path, :class => "navbar-brand" %>
        <ul class="navbar-nav mr-auto"></ul>
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <% else %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Connexion", new_user_session_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Inscription", new_user_registration_path, :class => "nav-link" %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield :body %>

  </body>
</html>
